.color-empty { fill: #eee !important; }
.color-github-3 { fill: #7bc96f !important; }
.color-github-4 { fill: #196127 !important; }
.color-loss-3 { fill: #ff7f7f !important; }
.color-loss-4 { fill: #d32f2f !important; }
.color-neutral { fill: #c6e48b !important; } 